<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="listarEventos.css" />
    <link rel="stylesheet" href="nav.css" />
    <link href="https://fonts.googleapis.com/css?family=Martel+Sans&display=swap" rel="stylesheet">

</head>
<body>
<header  th:fragment="header" id="header">
    <div class="inner">
        <a href="/" class="logo">Qbrada</a>
        <nav id="nav">
            <a href="/">Home</a>
            <a href="/eventos">Eventos</a>

        </nav>
    </div>
</header>



